@model CNPM.Models.DANGKY

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DANGKY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiemChuyenCan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemChuyenCan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemGiuaKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemGiuaKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemCuoiKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemCuoiKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOPHOCPHAN.TenLHP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOPHOCPHAN.TenLHP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SINHVIEN.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SINHVIEN.HoTen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
