@model CNPM.Models.DANGKY

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content my-2">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Danh sách</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DiemChuyenCan)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DiemChuyenCan)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DiemGiuaKy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DiemGiuaKy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DiemCuoiKy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DiemCuoiKy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LOPHOCPHAN.TenLHP)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LOPHOCPHAN.TenLHP)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SINHVIEN.HoTen)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SINHVIEN.HoTen)
                        </dd>

                    </dl>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}

